#fondo{
    background:#EE7F00;
    color: blanchedalmond;
    font-weight: bold;
}
#fondo * {
    color: blanchedalmond;
    font-weight: bold;

}
#fondo *:hover {
    color: black;
    font-weight: bold;

}

#contenedorprincipal { font-size: 16px; }
